<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brands</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    {% include 'used_car/nav_bar.html' %}
    <div class="container">
        <h2>Brands</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Year of Manufacture</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for brand in brands %}
                <tr>
                    <td>{{ brand.brand_name }}</td>
                    <td>{{ brand.model_name }}</td>
                    <td>{{ brand.yom }}</td>
                    <td><a href="{% url 'usedcar:update_brand' brand.pk %}" class="btn btn-primary">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
